<p>
  <input type="checkbox" name="isDone" {{#if todo.isDone}}checked{{/if}} disabled>
{{ todo.name }}
</p>

<a href="/todos/{{ todo._id }}/edit">edit</a>
<form method="POST" action="/todos/{{ todo._id }}/delete" style="display: inline">
  <button type="submit">delete</button>
</form>
<a href="/">back</a>