<form action="/todos/{{ todo._id }}/edit" method="POST">
  <input type="checkbox" name="isDone" {{#if todo.isDone}}checked{{/if}}>
  <input type="text" name="name" value="{{ todo.name }}">
  <button type="submit">Save</button>
</form>