<form action="/todos/{{ todo._id }}?_method=PUT" method="POST" style="display: inline">
  <div class="input-group">
    <div class="input-group-text">
      <input type="checkbox" name="isDone" {{#if todo.isDone}}checked{{/if}}>
    </div>
    <input class="form-control" type="text" name="name" value="{{ todo.name }}">
    <button type="submit" class="btn btn-outline-success">Save</button>
  </div>
</form>