<a href="/todos/new">Create</a>
<ul>
  {{#each todos}}
  <li>
    <input type="checkbox" name="isDone" {{#if isDone}}checked{{/if}} disabled>
    {{ this.name }}
    <a href="/todos/{{ this._id }}">detail</a>
    <a href="/todos/{{ this._id }}/edit">edit</a>
    <form method="POST" action="/todos/{{ this._id }}/delete" style="display: inline">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>