<a href="/todos/new" class="btn btn-outline-primary mb-3">Create</a>

<ul class="list-group">
  {{#each todos}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto mr-auto d-flex align-items-center">
        <input type="checkbox" class="mr-1" name="isDone" {{#if isDone}}checked{{/if}} disabled>
        <h4 style="display: inline; margin-bottom: 0;">{{ this.name }}</h4>
      </div>
      <div class="col-auto">
        <a class="btn btn-secondary" href="/todos/{{ this._id }}">detail</a>
        <a class="btn btn-success" href="/todos/{{ this._id }}/edit">edit</a>
        <form method="POST" action="/todos/{{ this._id }}?_method=DELETE" style="display: inline">
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>