<!-- ./views/layouts/new.handlebars -->
<form action="/todos" method="POST">
  <div class="input-group mb-3">
    <input type="text" placeholder="name" name="name" class="form-control" required>
    <div class="input-group-append">
      <button type="submit" class="btn btn-outline-success">Create</button>
    </div>
  </div>
</form>