<form action="/todos" method="POST" style="display: inline">
  <div class="input-group">
    <input class="form-control" type="text" name="name" placeholder="name">
    <button type="submit" class="btn btn-outline-success">Create</button>
  </div>
</form>